.app-card {
  border-radius: 10px;
  background-color: #ffffff;
  padding: 20px;
  text-align: center;
  width: 45%;
  margin-bottom: 20px;
}

.app-image {
  width: 60px;
  height: 60px;
}

.app-name {
  color: #7b8794;
  font-size: 18px;
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .app-card {
    width: 240px;
    height: 260px;
    margin-right: 10px;
  }

  .app-image {
    width: 140px;
    height: 140px;
  }

  .app-name {
    font-size: 20px;
  }
}
